[Container]
ContainerName=Astray-cpu-stress-app
Image=localhost/astray-3-cores-stress:latest
Volume=/tmp/apache-logs:/usr/local/apache2/logs
PublishPort=8021:8021
Network=host